.block {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.block__title {
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 36px;
}

.block__info {
    margin-top: 50px;
    font-weight: 100;
    font-size: 18px;
    color: #86878B;
}

.block__img {
    width: 142px;
    height: 1px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto;
}

.block__block-with-categories {
    width: 100%;
}

.block-with-category {
    display: inline-block;
    width: 350px;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

.block-with-category__title {
    font-weight: bold;
    font-size: 24px;
}

.block-with-category__text {
    font-size: 18px;
}

img {
    width: 140px;
}