.contact {
    width: 100%;
    height: 610px;
    margin: 0 auto;
    text-align: center;
}

.contact__conteiner {
    width: 1170px;
    height: 610px;
    margin: 0 auto;
    text-align: center;
}

.conteiner__conteiner-form {
    width: 1170px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
}

.conteiner-form__block-left {
    width: 570px;
    height: 210px;
}

.block-left__form-label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    /* position: relative;
    left: 50px; */
    display: flex;
}

.container-form__block-right {
    width: 570px;
    height: 210px;
    margin-left: 30px;
}
.block-left__solid {
    width: 570px;
    height: 3px;
    border-bottom: 1px solid #BDBDBD;
    margin-top: 10px;
    margin-bottom: 50px;
}

.block-right__form-label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    display: flex;

}

.block-right__solid {
    width: 570px;
    height: 3px;
    border-bottom: 1px solid #BDBDBD;
    margin-top: 180px;
}

.conteiner-form__link-message {
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    cursor: pointer;
    position: relative;
    left: 400px;
    margin-bottom: 50px;
}