.awesome {
    width: 1170px;
    height: 628px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway';
}

.awesome__preamble {
    font-family: 'Raleway';
    justify-content: center;
    text-align: center; 
}

.awesome__title {
    font-weight: 100;
    font-size: 36px;
    margin: 50px 0;
}

.awesome__info {
    margin: 50px 0;
    font-weight: 100;
    font-size: 18px;
    color: #86878B;
}

.awesome__img {
    width: 142px;
    height: 1px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto;
}

.awesome__block-with-categories {
    width: 100%;
}

.block-with-category {
    display: inline-block;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 58px;
    padding: 0px 15px;
    box-sizing: border-box;
}

.block-with-category__title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

.block-with-category__text {
    font-size: 18px;
}

.block-with-category__icon {
    width: 140px;
}