.banner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg\ \(2\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.banner-container {
    width: 1170px;
    height: 442px;
    margin: 0 auto;
}

.container-preamble {
    height: 342px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container__title-banner {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 150px;
    color: #FFFFFF;
}

.container__img-banner {
    width: 142px;
    height: 1px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0 auto;
}

.container__info-banner {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
}

.container__link-banner {
    width: 370px;
    height: 58px;
    border: 2px solid #FFFFFF;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    cursor: pointer;
}

@media (max-width: 1170px) {
    .banner-container {
        width: 100%;
        height: 358px;
        margin: 40px 16px;
    }
    .container__title-banner {
        width: 992px;
        height: 120px;
        font-size: 24px;
    }
    .container__info-banner {
        width: 992px;
        height: 16px;
        font-size: 14px;
    }
    .container__link-banner {
        margin-top: 32px;
    }
}

@media (max-width: 320px) {
    .banner {
        margin-top: 32px;
    }
    .banner-container {
        height: 358px;
        margin: 0;
    }
    .container__title-banner {
        width: 288px;
        height: 120px;
        margin: 0;
    }
    .container__info-banner {
        width: 288px;
        height: 48px;
        font-size: 14px;
    }
    .container__link-banner {
        width: 287px;
        height: 50px;
    }
}