.block-with-price {
    width: 100%;
    background-color: #F5F5F5;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway';
}

.block-with-price-container {
    width: 1170px;
    height: 900px;
}

.block-with-offer {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 1170px;
    height: 510px;
    justify-content: space-between;
}

.block-with-offer__container {
    width: 370px;
}

.container__items-type {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    width: 367px;
    height: 57px;
}

.container__items-price {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    width: 367px;
    height: 97px;
}

.container__items-free {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    width: 367px;
    height: 47px;
}

.container__items {
    background-color: #FFFFFF;
    border: 2px solid #F5F5F5;
    color: #86878B;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 367px;
}

.second {
    margin-top: -20px;
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

@media (max-width: 1170px) {
    .block-with-price-container {
        width: 100%;
        height: 770px;
        margin: 0 16px;
    }
    .block-with-offer {
        width: 100%;
        height: 463px;
        margin: 0;
    }
    .block-with-offer__container {
        width: 315px;
        height: 463px;
        margin: 0;
    }
    .container__items-type {
        width: 315px;
        height: 53px;
    }
    .container__items-price {
        width: 315px;
        height: 88.5px;
    }
    .container__items-free {
        width: 315px;
        height: 44px;
    }
    .container__items {
        width: 315px;
        height: 44px;
    }
    .second {
        margin: -20px;
    }
}

@media (max-width: 320px) {
    .block-with-price-container {
        height: 1480px;
        margin: 0 16px;
    }
    .block-with-offer {
        flex-flow: column;
        height: 125px;
        gap: 26px;
    }
    .block-with-offer__container {
        width: 288px;
    }
    .container__items-type {
        width: 288px;
        height: 44px;
        font-size: 18px;
    }
    .container__items-price {
        width: 288px;
        height: 75.5px;
        font-size: 24px;
    }
    .container__items-free {
        width: 288px;
        height: 35px;
        font-size: 14px;
    }
    .container__items {
        width: 288px;
        height: 36px;
        font-size: 14px;
    }
    .second {
        margin: 0;
        box-shadow: none;
    }
    .awesome-preamble {
        margin-bottom: 25px;
    }
}