.base {
    width: 1170px;
    margin: 0 auto;
}

.tabs__tab4 {
    display: inline-block;
    border-bottom: 1px solid #C6CBCD;
    width: 500px;
    height: 1px;
    height: 40px;
    vertical-align: bottom;
    line-height: 40px;
}

.tabs__tab3 {
    display: inline-block;
    border-bottom: 1px solid #C6CBCD;
    width: 184px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

.tabs__tab2 {
    display: inline-block;
    border-bottom: 1px solid #C6CBCD;
    width: 184px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

.tabs__tab1 {
    display: inline-block;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    width: 203px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

.info-block {
    display: inline-block;
    border-left: 1px solid #C6CBCD;
    width: 660px;
    height: 500px;
    vertical-align: top;
    border-bottom: 1px solid #C6CBCD;
}

.info-block__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin: 47px 0 74px 70px;
}

.info-block__text {
    font-size: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 0px 70px;
}

.info-block__link {
    display: block;
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 58px;
    text-align: center;
    margin: 27px 0 0 70px;
    color: white;
}

.awesome__preamble {
    margin-top: 50px;
}