.contact {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contact-container {
    width: 1170px;
    height: 610px;
    margin: 0 auto;
    text-align: center;
}

.container__container-form {
    width: 1170px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-form__block-left {
    width: 570px;
    height: 210px;
}

.block-left__inputs {
    width: 570px;
    border: none;
    outline: none;
    border-bottom: 1px solid #bdbdbd;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    margin-bottom: 50px;
}

.container-form__block-right {
    width: 570px;
    height: 210px;
    margin-left: 30px;
}


.container-form__link-message {
    width: 370px;
    height: 58px;
    border: none;
    background-color: #EC7979;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}

.block-left__textarea {
    width: 570px;
    height: 161px;
    border: none;
    outline: none;
    border-bottom: 1px solid #bdbdbd;;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    margin-left: 20px;
}