.block-with-manager {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway';
}

.block-with-manager-container {
    width: 1170px;
    height: 774px;
}

.saying {
    width: 1170px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.block-with-info {
    width: 370px;
    height: 336px;
}

.frame {
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #86878B;
}

.frame__text {
    display: flex;
    width: 335px;
    height: 105px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.manager__name {
    display: flex;
    width: 269px;
    height: 54px;
    margin-left: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
}

.manager__status {
    display: inline-block;
    height: 15px;
    margin-left: 100px;

}

.block-with-info__manager {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 66px;
    align-content: center;   
}

.firsth::before {
    content: url("../img/Ellipse 7.png");
    display: inline-block;
    width: 70px;
    height: 70px;
}

.secondth::before {
    content: url("../img/Ellipse\ 7\ \(1\).png");
    display: inline-block;
    width: 70px;
    height: 70px;
}

.therdth::before {
    content: url("../img/Ellipse\ 7\ \(2\).png");
    display: inline-block;
    width: 70px;
    height: 70px;   
}

.block-with-info::after {
    content: " ";
    width: 30px;
    height: 30px;
    background-color: #E2E2E2;
    display: block;
    transform: rotate(45deg);
    position: relative;
    top: -175px;
    left: 70px;
}

.block-with-info__dots {
    display: none;
}

@media (max-width: 1170px) {
    .block-with-manager-container {
        width: 95%;
        height: 616px;
        margin: 0 auto;
    }
    .saying {
        width: 100%;
        margin: 0;
    }
    .block-with-info {
        width: 317px;
        height: 306px;
    }
    .frame {
        width: 317px;
    }
    .frame__text {
        width: 317px;
        height: 80px;
        font-size: 14px;
        margin: 50px 0;
        align-items: center;
        padding: 0 30px;
    }
    .manager__name {
        width: 230px;
        height: 36px;
        font-size: 18px;
        margin-left: 22px;
    }
    .manager__status {
        width: 230px;
        height: 16px;
        font-size: 14px;
        margin-left: 0;
    }
    .firsth::before {
        width: 63px;
        height: 63px;
    }
    .secondth::before {
        width: 63px;
        height: 63px;
    }
    .therdth::before {
        width: 63px;
        height: 63px;
    }
}

@media (max-width: 1024px) {
    .block-with-manager-container {
        height: 550px;
    }
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    .center {
        width: 100%;
    }
    .frame {
        width: 288px;
    }
    .secondth {
        width: 288px;
        margin-top: 62px;
        height: 61px;
    }
    .frame__text {
        width: 280px;
        height: 80px;
        padding: 0px 35px;
    }
    .manager__name {
        font-size: 14px;
        width: 204px;
        margin-left: 25px;
    }
    .manager__status {
        font-size: 13px;
        width: 205px;
    }
    .secondth::before {
        width: 53px;
        height: 53px;
    }
    .block-with-info {
        margin: 0;
    }
    .block-with-info::after {
        width: 25px;
        height: 25px;
        top: -135px;
    }
}

@media (max-width: 320px) {
    .block-with-info__dots {
        display: block;
        width: 130px;
        height: 10px;
        margin: 0 auto;
    }
}