.block-with-price {
    width: 100%;
    background-color: #F5F5F5;
    height: 900px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway';
}

.block-with-price__block-with-offer {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 1170px;
    height: 510px;
    justify-content: space-between;
}

.block-with-offer__container {
    width: 370px;
}

.container__items-type {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    width: 367px;
    height: 57px;
}

.container__items-price {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    width: 367px;
    height: 97px;
}

.container__items-free {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    width: 367px;
    height: 47px;
}

.container__items {
    background-color: #FFFFFF;
    border: 2px solid #F5F5F5;
    color: #86878B;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 367px;
}

.second {
    margin-top: -20px;
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
}