.footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    margin-top: 50px;
}

.footer-container {
    width: 1170px;
    height: 165px;
    margin: 0 auto;
}

.block-with-icon {
    width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 40px;
}

.block-with-icon__icon {
    width: 50px;
    height: 50px;
}

.footer-container__info-date {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: 60px;
}

@media (max-width: 1170px) {
    .footer-container {
        width: 95%;
        margin: 0 auto;
    }
    .block-with-icon {
        width: 100%;
    }
    .block-with-icon__icon {
        width: 45px;
        height: 45px;
    }
    .footer-container__info-date {
        font-size: 14px;
        top: 70px;
    }
}

@media (max-width: 1024px) {
    .block-with-icon {
        width: 95%;
    }
    .block-with-icon__icon {
        width: 25px;
        height: 25px;
    }
    .footer-container__info-date {
        top: 75px;
    }
}