.frontpage {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg.png');
}

.frontpage-container {
    width: 1170px;
    height: 951px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.frontpage-container__title {
    width: 670px;
}

.title__logo {
    margin-bottom: 75px;
}

.logo__axit {
    width: 270px;
    height: 100px;
}

.title__text {
    width: 670px;
    height: 168px;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

.title__img {
    width: 170px;
    height: 1px;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 55px;
    margin-bottom: 45px;
}

.title__span-info {
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-top: 45px;
}

.title__comments {
    width: 270px;
    height: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.title__link {
    display: block;
    width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    cursor: pointer;
}

.frontpage-container__container-with-form {
    display: block;
    width: 470px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 110px;
}

.container-with-form__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    width: 376px;
    height: 90px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0 53px;
}

.title__input-form {
    width: 370px;
    border: none;
    outline: none;
    border-bottom: 1px solid #bdbdbd;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    margin: 50px 50px;
}

.form-with-label__do-it {
    display: block;
    border: none;
    width: 470px;
    height: 60px;
    margin-top: 85px;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title__word {
    color:#EC7979;
}

@media (max-width: 1170px) {
    .frontpage-container {
        width: 100%;
        height: 695px;
    }
    .frontpage-container__title {
        margin: 0 36px 0 115px ;
    }
    .title__text {
        font-size: 36px;
        width: 455px;
        height: 126px;
    }
    .logo__axit {
        width: 180px;
        height: 75px;
    }
    .title__logo {
        margin-bottom: 40px;
    }
    .title__img {
        width: 115px;
        margin-top: 42px;
        margin-bottom: 31px;
    }
    .title__comments {
        font-size: 14px;
        width: 183px;
        height: 32px;
    }
    .title__link {
        width: 183px;
        height: 50px;
        margin-top: 32px;
    }
    .frontpage-container__container-with-form {
        margin: 0 20px 0 40px;
        width: 398px;
    }
    .container-with-form__title {
        font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1170 - 320)));
        width: 298px;
    }
    .title__input-form {
        width: 298px;
    }
    .form-with-label__do-it {
        width: 398px;
    }
}

@media (max-width: 320px) {
    .frontpage-container {
        height: 1005px;
        display: flex;
        flex-flow: wrap;
    }
    .frontpage-container__title {
        margin: 0 16px 0 16px ;
        width: 288px;
        text-align: center;
        align-items: center;
    }
    .title__text {
        height: 168px;
    }
    .title__logo {
        display: none;
    }
    .title__img {
        width: 134px;
        margin: 45px 0 42px 75px;
    }
    .title__link {
        width: 288px;
        margin-top: 42px;
    }
    .frontpage-container__container-with-form {
    width: 288px;
    height: 381px;
    margin: 0 16px;
    }
    .container-with-form__title {
        width: 240px;
        margin: 0 28px 0 20px;
    }
    .title__input-form {
        width: 240px;
        margin: 0 28px 50px 20px; 
    }
    .form-with-label__do-it {
        width: 288px;
        margin-top: 66px;
    }
}