.frontpage {
    width: 100%;
    height: 951px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg.png');
}

.frontpage__conteiner {
    width: 1170px;
    height: 951px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.conteiner__title {
    width: 670px;
    margin-left: 10px;
}

.title__logo {
    margin-bottom: 40px;
}

.title__text {
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    width: 670px;
    height: 168px;
}

.title__img {
    width: 170px;
    height: 1px;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 60px;
    margin-bottom: 40px;
}

.title__span-info {
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-top: 45px;
}

.title__comments {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.title__link {
    display: block;
    width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    cursor: pointer;
}

.conteiner__conteiner-with-form {
    display: block;
    width: 470px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.conteiner-with-form__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    width: 376px;
    height: 90px;
    margin-bottom: 50px;
    margin-left: 50px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__input-form {
    width: 370px;
    border: none;
    outline: none;
    border-bottom: 1px solid #bdbdbd;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    margin: 50px 50px;
}

.form-with-label__do-it {
    display: block;
    border: none;
    width: 470px;
    height: 60px;
    margin-top: 85px;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}